<%= form_for(@prob) do |f| %>

  <div>
  <%= f.label(:word) %>
  <%= f.text_field(:word) %>
  </div>

  <div>
  <%= f.label(:definition) %>
  <%= f.text_area(:definition, size: "20x5") %>
  </div>

  <%= f.submit %>

<% end %>

