User: <%= @user.name %> <%= image_tag @user.image_url %>

<h1>Current Slang!</h1>

<%= link_to 'Add a word!', probs_new_path %>

<ul>
  <% @probs.each do |prob| %>
    <li>
      <%= link_to prob.word, prob_path(prob)%> by <%= prob.user.name %>
    </li>
  <% end %>
  </ul>
