<!DOCTYPE html>
<html>
<head>
  <title>AyprojectApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav navbar-nav">
  <%= link_to 'Sign into Twitter', '/auth/twitter?force_login=true' %>
</div>

<%= yield %>



</body>
</html>
